<h2>Games</h2>
<div>
  <%= button_to '+New Game', games_path %>

</div>

<div>
  <% @games.each do |game| %>
    <div>
      <%= link_to game_path(game) do %>
        <h4>
          <%= "#{game.created_at.to_s(:short)}: #{game.score}" %>
          <%= game.complete? ? 'Final' : "(#{game.frames.size} frames)" %>
        </h4>
      <% end %>

    </div>
  <% end %>

</div>